{% extends "appli_blog/layout.html" %}


{% block title %}Accueil du blog{% endblock %}

{% block content %}
	<h1 class="titre-liste">Liste des articles</h1>

	{% for article in articles %}
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="row">
		      <h3 class="titre-article">{{ article.titre }}</h3>
		        <div class="row">
		          <div class="col-xs-12">
		          	<div class="content-article">
		        		<p>{{ article.contenu|truncatewords_html:30 }}</p>
		        	</div>
		            <div class="bouton-lire">
				      <a href="{% url 'lire' article.id %}" class="btn btn-md btn-default" type="button">
					  Lire la suite</a></div>
				    <div class="row">
				    <span class = "date-right">
					  Publié le {{ article.date|date:'SHORT_DATETIME_FORMAT' }}
				    </span>
				    </div>
			      </div>
			    </div>
		 </div>
	  </div>
	</div>
<!--		<h2 class="titre-article">{{ article.titre }}</h2>
		

		<p class="infos-article">Le {{ article.date|date:'SHORT_DATETIME_FORMAT' }}</p>

		<div class="contenu-article">
			{{ article.contenu|truncatewords_html:30 }}
		</div>

		<p><a href="{% url 'lire' article.id %}">Lire la suite</a></p>

		<hr />
	{% endfor %}

{% endblock %}
-->