{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <title>{% block title %}Mon blog{% endblock %} - Crêpes bretonnes</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'appli_blog/styles.css' %}" />
</head>

<body>
    <header>
        <aside>
            <a href="{% url 'admin:index' %}" class="btn btn-md btn-default" type="button" >Administration</a>
        </aside>
        <h1>Blog Django</h1>
    </header>

    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <!--<div class="panel panel-info">
          <div class="panel-heading">Accueil</div>
            <div class="panel-body">-->
                {% block content %}{% endblock %}
            </div>
        </div>
      </div>
    </div>

</body>
</html>

